/* header related style */
.header{
    background: rgba(229, 84, 115, 0.1);
    width: 1920px;
    height: 850px;
    display: flex;
    justify-content: space-between;
    
flex-shrink: 0;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}
.banner-title{
    color: #111010;
font-size: 80px;
font-weight: 800;
flex-direction: column;

}
.ok{
    border-radius: 8px;
background: #E55473;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
color: #FFF;
font-family: Lato;
font-size: 20px;;
font-weight: 700;

}
.banner-discrption{
    display: flex;
width: 634px;
flex-direction: column;
flex-shrink: 0;
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.profile-pic{
    width: 635px;
height: 800px;
flex-shrink: 0;
  
}
/* main started */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;                   ; 
  }
  .text{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-weight: 800;
  }
  .paragraph{
    display: flex;
width: 594px;
flex-direction: column;
flex-shrink: 0;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
  }
  /* starting 3 Rectangle pink flower style */
  .image-container {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin-right: 10px;
    align-items: center;
  }
  .images{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
width: 310px;
height: 428px;
flex-shrink: 0;
border-collapse: separate;
  border-spacing: 15px 50px;
  }
  /* started p tag for change something */
 
  .pink-flower-tree,
.pink-flower-tree * {
  box-sizing: border-box;
}
.pink-flower-tree {
  color: #272727;
  text-align: center;
  
  font: 700 24px/35px "Lato", sans-serif;
  text-decoration: underline;
  position: relative;
}


  /* started a box with icons  */
  .border-box {
  box-sizing: border-box;
  align-items: center;
  }
.box {
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: 100%;
}

 .good-image {
  height: 88px;
  width: 88px;
}
#off{
  color: #E55473;
}
.color-white{
  color:aliceblue
}

/* started 4 images */
.all-images {
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  display: flex;
}

.all-images img {
  flex: 1;
  width: 342px;
height: 396px;
flex-shrink: 0;
}

/* started background image */

    
  

/* started subscribr button*/
.







/* started footer */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer{
  position:static;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h2{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.Flower{
  color: #E55473;
}
.Shop{
  color: #FFFFFF ;
}
.paragraph-footer{
  color: #ffffffd2
}
.text-me{
  color: #ffffff86;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
